.sales-overview-card {
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 40px 15px;
}

/* .sales-overview-container {
  border: 1px solid red;
} */

.sales-by-date-quantity {
  display: block;
  font-size: 36px;
  line-height: 41px;
}

.sales-by-date-quantity-label {
  display: block;
  font-size: 18px;
  line-height: 21px;
  color: var(--grey-color);
}

@media (min-width: 576px) {
  .sales-overview-card {
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 40px;
  }
}

@media (min-width: 992px) {
  .sales-overview-card {
    margin-bottom: 50px;
    padding-right: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
