.filter-container {
  margin-top: 10px;
  height: 130px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  /* border: 1px solid red; */
}

.filter-select-container {
  width: 270px;
}

.filter-select__control {
  height: 50px;
  border: 1px solid var(--grey-color) !important;
  border-radius: 4px !important;
}

.filter-select__indicator-separator {
  display: none;
}

.filter-select__placeholder {
  color: var(--grey-color) !important;
}

.filter-select__single-value {
  color: var(--grey-color) !important;
}

.filter-select__clear-indicator {
  color: var(--grey-color) !important;
}

.filter-select__dropdown-indicator {
  color: var(--grey-color) !important;
}

.filter-select__menu {
  color: var(--grey-color) !important;
  background-color: var(--primary-color) !important;
}

.filter-select__option--is-focused {
  color: var(--blue-color) !important;
}
