.city-filter-card {
  margin-top: 10px;
  height: 130px;
  display: flex;
  justify-content: center; /* alinhar horizontal */
  align-items: center; /* alinhar vertical */
  padding-left: 15px;
  padding-right: 15px;

  /* border: 1px solid red; */
}

.city-filter-select-container {
  width: 250px;
}

.city-filter-select__control {
  height: 50px;
  border: 1px solid var(--grey-color) !important;
  border-radius: 4px !important;
}

.city-filter-select__indicator-separator {
  display: none;
}

.city-filter-select__placeholder {
  color: var(--grey-color) !important;
}

.city-filter-select__single-value {
  color: var(--grey-color) !important;
}

.city-filter-select__clear-indicator {
  color: var(--grey-color) !important;
}

.city-filter-select__dropdown-indicator {
  color: var(--grey-color) !important;
}

.city-filter-select__menu {
  color: var(--grey-color) !important;
  background-color: var(--primary-color) !important;
}

.city-filter-select__option--is-focused {
  color: var(--blue-color) !important;
}

@media (min-width: 576px) {
  .city-filter-card {
    margin-top: 40px;
    justify-content: flex-start; /* alinhar horizontal */
    padding: 40px;
  }

  .city-filter-select-container {
    width: 270px;
  }
}

