.sales-piechart-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 1px solid red; */
}

.apexcharts-legend.apexcharts-align-center {
  flex-direction: column;
  align-items: center;
}

@media (min-width: 992px) {
  .sales-piechart-container {
    margin-top: 0px;
  }
}
